body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background: #fff;
    margin: 40px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  #statusMessage {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    display: none; 
  }
  
  #statusMessage.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    display: block;
  }
  
  #statusMessage.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    display: block;
  }
  
  .card{
    width: 300px;
    height: 425px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
    transition: all 0.6s ease;
}


.card .content{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    font-weight: 300;
    margin-top: 20px;
}

.card .content h2{
    padding-bottom: 5px;
    border-bottom: 2px solid #4cae4c;
}

.card .content p{
    font-size: 16px;
    margin-bottom: 4px;
}

.card .content a{
    list-style-type: none;
    text-decoration: none;
}